[Desktop Entry]
Encoding=UTF-8
Name=Borg ER-0
Comment=Draw oscillators and envelopes.
StartupNotify=false
Exec=borger0
Icon=${SNAP}/meta/gui/borger0.png
Terminal=false
Type=Application
Categories=Utility;Audio
